# log files
*.log

# Raw data
/Raw_data/*

# Generated Results
/Flow_results/*
/ImageJ_results/*
/Python_results/*

# Annoying Office temp files
*~$*

# VSCode files
*.vscode
.Rproj.user

# macbook files
.DS_Store